---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
  {% if page.imgurl %}
    <img src="{{ site.github.url }}/{{ page.imgurl }}" alt="{{ page.imgalt }}" width="90%" {% if page.img-invert-on-dark %}class="invert-on-dark"{% endif %}>
  {% endif %}
    <h3>Articles</h3>
    <ul>    

      {% for pub in page.publications %}
    
      <li>
        <a href="{{ pub.url }}" style="text-decoration:none">{{ pub.name }}</a><br />
        <i>{{ pub.date | date: "%b %Y" }}</i> 
      </li>
    
      {% endfor %}
    </ul>
  </div>
</div>
